.infoWrapper {
  width: 100%;
  height: 100vh;
}

.infoHeadWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
}

.infoHead {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: 0.5px;
  margin: 0;
  padding-left: 43px;
}

.inputShortNameWrapper {
  padding-left: 43px;
}

.input_shortName {
  width: 65%;
  height: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.5px;
}

.input_shortName:hover {
  border-color: #808080;
}

.input_shortName:focus {
  outline: none !important;
  border: 1px solid #3b3b3b;
}

.inputEntities {
  height: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.5px;
}

.inputEntities:hover {
  border-color: #808080;
}

.inputEntities:focus {
  outline: none !important;
  border-color: #3b3b3b;
}

.inputDate {
  margin-left: 5px;
}

.acceptChangesBtn {
  width: 80px;
  height: 20px;
  border: none;
  background: none;
  padding-left: 13px;
  cursor: pointer;
  color: #82b284;
  font-size: 20px;
}

.acceptChangesBtn:hover {
  color: #a4c7a5;
}

.acceptChangesBtn:active {
  color: #58a742;
}

.editBtn {
  border: none;
  background: none;
  padding-left: 13px;
  cursor: pointer;
}

.editBtn:hover svg path {
  fill: #a4c7a5;
}

.editBtn:active svg path {
  fill: #58a742;
}

.li {
  position: relative;
  padding-bottom: 62px;
}

.li:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid #e5e5e5;
  width: 97%;
}

.last_li {
  position: relative;
  padding-top: 20px;
}

.last_li::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid #e5e5e5;
  width: 97%;
}

.infoList {
  padding-left: 43px;
}

.infoChapter {
  font-family: "Proxima Nova Light";
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.firstInfoChapter {
  font-family: "Proxima Nova Light";
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.grid_div {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: grid;
  gap: 5px;
  grid-template-columns: minmax(200px, max-content) auto;
}

.infoKey {
  font-family: "Proxima Nova Light";
  font-weight: 300;
  font-size: 14px;
}

a {
  color: #82b284;
  text-decoration: none;
}

a:hover {
  color: #98c88c;
}

a:active {
  color: #58a742;
}

.gallery_ul {
  display: flex;
  padding-top: 15px;
  padding-right: 20px;
}

.gallery_li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

.photoName {
  font-size: 12px;
  padding-top: 5px;
}

.photoDate {
  font-size: 12px;
  color: #808080;
  padding-top: 5px;
}

input[type="file"] {
  display: none;
}

.customFileUpload {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  width: 300px;
  height: 30px;
  padding-left: 8.5em;
  padding-top: 0.7em;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  text-transform: uppercase;
  color: #82b284;
  cursor: pointer;
}

.customFileUpload::before {
  content: "+";
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 30px;
  font-weight: lighter;
}

.customFileUpload:hover {
  color: #98c88c;
  border-color: #808080;
}

.customFileUpload:active {
  color: #58a742;
  border-color: #3b3b3b;
}
