.footer {
  text-align: center;

  width: 80%;
  height: 40px;
  margin-left: 312px;
  margin-top: 20px;
}

.footerText {
  margin: 0;
  padding: 0;
  opacity: 0.3;
  padding-bottom: 15px;
  font-size: 12px;
}
